body{
  background:black;
  
}
.top-menu{
  display:flex;
  flex-flow:row;
  border-radius:6px;
  background:#F20909;
  position:absolute;
  top:20%;
  left:4px;
  margin:0;
  padding:5px 5px;
  
  
  
}
.top-a{
  padding:10px 0px 10px 20px;
  width:66.5px;
  text-align:center;
  text-decoration:none;
  color:white;
  font-family:sans-serif;
  transition:.2s;
  border-radius:6px;
  font-size:17px;
  
  
}
.top-a:hover{
  background:darkred;
}
.fa-house{
  position:absolute;
  left:9px;
}
.fa-gamepad{
  position:absolute;
  left:94px;
  bottom:16px;
}
.fa-magnifying-glass{
  position:absolute;
  right:153px;
  bottom:16px;
}
.fa-circle-info{
  position:absolute;
  right:60px;
  bottom:16px;
}
.fc-gaming{
  font-size:50px;
  font-style:italic;
}
er{
  color:white !important;
}
@keyframes gaming{
  20%{
    color:#F09108;
  }
  40%{
    color:#7E0C0C;
  }
  60%{
    color:#2A168C;
  }
  80%{
    color:#08F0D2;
  }
  100%{
    color:#F20909;
  }
}
.fc-gaming{
  animation-name:gaming;
  animation-duration:15s;
  animation-iteration-count:infinite;
  color:#F20909;
  animation-delay:0s;
}
.margin{
  color:red;
  margin-top:200px;
  margin-left:400px;
  
}
@media screen and (min-width:640px){
 .fc-gaming{
   font-size:140px;
}
.top-menu{
  padding:20px 0px;
  
}
#info{
  padding:20px 75px 10px 100px;
}
#house{
  padding:20px 108px 20px 90px;
}
.top-a{
  font-size:54px;
  margin:0px 30px;
  padding:20px 120px 20px 90px;
}
.fa-house{
  position:absolute;
  left:50px;
}
.fa-gamepad{
  position:absolute;
  left:365px;
  top:46px;
}
.fa-magnifying-glass{
  position:absolute;
  right:530px;
  top:44px;
  
 
}
.fa-circle-info{
  position:absolute;
  right:185px;
  top:45px;
  
}


  

}

